* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
  font-size: 62.5%;
}

h2 {
  font-size: 1.1rem;
  margin-block-end: 20px;
}

.header {
  background: #1DA1F2;
  color: white;
  padding-inline: 20px;
  padding-block: 10px;
  margin-block-end: 40px;
  display: flex;
  align-items: center;
}

.header img {
  height: 20px;
  margin-inline-end: 10px;
}

.header h1 {
  font-weight: 600;
}

.container{
  padding-inline: 15%;
  display: flex;
  justify-content: center;
}

#private,
#public {
  display: none;
  margin-top:10px;
}


.welcome-logout > p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.container .tweet-list li {
  margin-block-end: 20px;
  list-style: none;
}

.container .tweet-list li p {
  margin-block: 5px;
  font-size: 0.8rem;
}

.container .username .user {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.link i {
  margin: 0 auto;
}

.container .tweet-list .username,
.interactionButtons .link,
.interactionButtons span {
  color: gray;
}

.interactionButtons .link {
  font-size: 1rem;
  text-decoration: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.interactionButtons span {
  font-size: 0.8rem;
}

.interactionButtons,
.interactionButtons .comments,
.interactionButtons .likes,
.interactionButtons .comments .comment,
.interactionButtons .likes .like {
  display: flex;
  align-items: center;
}

.likes {
  margin-left: 20px;
}

.comment:hover {
  background: rgba(29, 161, 242, 0.15);
  color: #1DA1F2;
}

.like:hover {
  background: rgba(253, 22, 5, 0.15);
  color: red;
}

.tweet-date {
  font-size:1.1rem;
  color:rgb(169, 169, 169);
}

.message {
  width:200px;
  text-align: center;
  padding: 8px;
  height: 30px;
  color:red;
  background: rgba(255, 0,0,0.2);
  display:none;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 auto;
}

.forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login,
.signup {
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow:  0px 0px 8px 0px rgba(20,20,20,0.1);
  margin-bottom: 20px;
  margin-inline: 10px;
}

.container .forms p {
  margin: 12px 0;
}

.new-tweet,
.forms p input{

  padding: 10px;
  outline: none;
  border: 1px solid gray;
}

.new-tweet {
  height:80px;
  border-radius: 15px;
  width: 150%;
  font-family: Helvetica;

}

.forms p input{
  width: 100%;
  height:30px;
  border-radius: 15px;
}

.forms p input:focus,
.new-tweet:focus {
  border: 2px solid #1DA1F2;
}

.forms p button,
.logout-button,
.new-tweet-button {
  background:#1DA1F2;
  border-radius: 15px;
  border:none;
  color: white;
  font-weight: 600;
  margin-top: 5px;
}

.forms p button {
  height:30px;
  width: 100%;
  font-size: 0.9rem;
}

.logout-button,
.new-tweet-button {
  height:25px;
  width: 40%;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.forms p button:hover,
.logout-button:hover,
.new-tweet-button:hover {
  cursor: pointer;
  background: rgb(30, 145, 216)
}

.forms p button:active,
.logout-button:active,
.new-tweet-button:active {
  cursor: pointer;
  background: rgb(111, 200, 255)
}

@media screen and (min-width: 700px) {
  .container{
  padding-inline: 5%;
  }
}
