body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  display: flex;
  width: 100%;
}
main div {
  flex-grow: 1;
}
